# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE Configuration
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Large YOLO Model weights
*.pt
yolov8s.pt

# Training runs and outputs
runs/
debug.log

# YOLO label caches
*.cache
